<div class="container">
  <div class="row">
    <div class="col">
      <button ejs-button cssClass="e-flat">
        <span class="e-icons e-grid-view"></span>
      </button>
      項目1
    </div>
    <div class="col">
      <button ejs-button cssClass="e-flat">
        <span class="e-icons e-paste"></span>
      </button>
      項目2
    </div>
    <div class="col">
      <button ejs-button cssClass="e-flat">
        <span class="e-icons e-chart"></span>
      </button>
      項目3
    </div>
    <div class="col">
      <button ejs-button cssClass="e-flat">
        <span class="e-icons e-timeline-week"></span>
      </button>
      項目4
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button ejs-button cssClass="e-flat">
        <span class="e-icons e-week"></span>
      </button>
      項目5
    </div>
    <div class="col">
      <button ejs-button cssClass="e-flat">
        <span class="e-icons e-table-delete"></span>
      </button>
      項目6
    </div>
    <div class="col">
      <button ejs-button cssClass="e-flat">
        <span class="e-icons e-time-zone"></span>
      </button>
      項目7
    </div>
    <div class="col">
      <button ejs-button cssClass="e-flat">
        <span class="e-icons e-group-1"></span>
      </button>
      項目8
    </div>
  </div>
</div>

